<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>modao API demo</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.23/spectre.min.css" charset="utf-8">
  <style media="screen">
    .site {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      align-items: center;
      min-height: 100vh;
    }
  </style>
</head>
<body>
  <section class="site">
    {{{body}}}
  </section>
</body>
</html>
